<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="text-center">
      <img ng-src="{{selectedUser.picture ? userImg : 'img/no-image.png'}}" class="avatar img-circle img-thumbnail">
      <h6>Preferred size - 150px x 150px</h6>
      <input type="file" class="text-center center-block well well-sm" nv-file-select="" uploader="uploader"/>
    </div>
  </div>
  <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
    <h3>Personal info</h3>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
          <input class="form-control" ng-model="selectedUser.firstname" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
          <input class="form-control" ng-model="selectedUser.lastname" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Email:</label>
        <div class="col-lg-8">
          <input class="form-control" ng-disabled="selectedUser.id == currentUser.id" ng-model="selectedUser.email"
                 type="text" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <input class="btn btn-primary" value="Save Changes" type="button" ng-click="saveUser(user);">
          <span></span>
          <input class="btn btn-default" value="Cancel" type="reset" ng-click="cancel();">
        </div>
      </div>
    </form>
  </div>
</div>
